@font-face {
	font-family: 'systemglitch';
	src: url('/Fonts/SystemGlitch-Regular.otf'); 
	src: 
		local('System Glitch'),
		local('SystemGlitch'),
		url('/Fonts/SystemGlitch-Regular.otf') 
		format('opentype');
}

body{
    background-color: black;
    color: greenyellow;
    font-family: 'systemglitch', sans-serif;
}